In [26]:
import pandas as pd
import warnings

In [23]:
warnings.filterwarnings('ignore')

In [2]:
dataset = pd.read_csv('cars_delhi.csv')

In [18]:
dataset.head(1)

,variant,transmission,km_driven,owner_type,fuel_type,registeration,price,year_launch,company_name,model_name
0,XM 1.2,Manual,95230,1st Owner,Petrol,UP-16,650000,2018,Tata,NEXON

# car_name

In [4]:
def year_launch(data):
    data = data.split(" ")
    return int(data[0])
def car_company_name(data):
    data = data.split(" ")
    return data[1]  
def model_name(data):
    data = data.split(" ")
    return data[2]

In [5]:
dataset['year_launch'] = dataset['car_name'].apply(year_launch)
dataset['company_name'] = dataset['car_name'].apply(car_company_name)
dataset['model_name'] = dataset['car_name'].apply(model_name)

In [7]:
dataset.drop(columns=['car_name'],inplace=True)

In [8]:
dataset.columns

Index(['variant', 'transmission', 'km_driven', 'owner_type', 'fuel_type',
       'registeration', 'price', 'year_launch', 'company_name', 'model_name'],
      dtype='object')

# km_driven

In [10]:
dataset['km_driven'] = dataset['km_driven'].str.replace(",","")
dataset['km_driven'] = dataset['km_driven'].str.replace(" km","")

In [13]:
dataset['km_driven']  = dataset['km_driven'].astype("int")

# price

In [15]:
dataset['price'] = dataset['price'].str.replace(",","")
dataset['price'] = dataset['price'].str.replace("â‚¹","")
dataset['price']  = dataset['price'].astype("int")

# missing value

In [19]:
dataset.isnull().sum()

variant          0
transmission     5
km_driven        0
owner_type       0
fuel_type        0
registeration    0
price            0
year_launch      0
company_name     0
model_name       0
dtype: int64

# transmission

In [24]:
dataset['transmission'].fillna(dataset['transmission'].mode()[0],inplace=True)

# make data for EDA

In [25]:
dataset.to_csv("cars_delhi_eda.csv",index=False)