In [27]:
import pickle
import pandas as pd
import numpy as np
import warnings

In [28]:
warnings.filterwarnings("ignore")

In [2]:
c= open("le_company_name.txt","rb")
company_name = pickle.load(c)

In [3]:
f = open("le_fuel_type.txt",'rb')
fuel_type = pickle.load(f)

In [4]:
m = open("le_model_name.txt",'rb')
model_name = pickle.load(m)

In [5]:
org = open("model.txt",'rb')
model = pickle.load(org)

In [6]:
o = open("owner_type_en.txt",'rb')
owner_type = pickle.load(o)

In [7]:
s = open("ss.txt",'rb')
ss = pickle.load(s)

In [8]:
tr = open("transmission_en.txt",'rb')
transmission = pickle.load(tr)

In [9]:
v = open('variant_en.txt','rb')
variant = pickle.load(v)

In [10]:
prd_data = pd.read_csv('car_data_ml.csv')
prd_data.head(1)

,variant,km_driven,fuel_type,year_launch,company_name,model_name,Automatic,Manual,1st Owner,2nd Owner,price
0,1.149891,2.353265,0.542427,-0.102014,2.054892,0.391774,-0.522849,0.522849,0.424017,-0.424017,650000

In [10]:
car_name	     variant	 transmission	km_driven	owner_type	 fuel_type	registeration
2018 Tata NEXON	 XM 1.2	      Manual	     95,230 km	 1st Owner	 Petrol	        UP-16

In [ ]:
variant1 = input("enter your variant : ")
km_driven1 = int(input("enter your km_driven : "))
fuel_type1 = input("enter your fuel_type : ")
year_launch1 = int(input("enter your year_launch : "))
company_name1 = input("enter your company_name : ")
model_name1 = input("enter your model_name : ")
Automatic1 = input("enter your Automatic : ")
Owner1 = input("enter your Owner : ")

var = variant.transform([variant1])
fuel = fuel_type.transform([fuel_type1])
company = company_name.transform([company_name1])
model_n = model_name.transform([model_name1])
A = np.array([[Automatic1]])
auto = transmission.transform(A).toarray()
on = np.array([[Owner1]])
owner = owner_type.transform(on).toarray()

d1 = pd.DataFrame({"variant":var,"km_driven":km_driven1,"fuel_type":fuel,"year_launch":year_launch1	,
                   "company_name":company,	"model_name":model_n})
d2 = pd.DataFrame(auto,columns=["Automatic","Manual"])
d3 = pd.DataFrame(owner,columns=["1st Owner","2nd Owner"])
final_data = pd.concat((d1,d2,d3),axis=1)
final_data_set = ss.transform(final_data)

result = model.predict(final_data_set)
print("prediction Price : ", result[0])

In [ ]:
car_name	     variant	 transmission	km_driven	owner_type	 fuel_type	registeration
2018 Tata NEXON	 XM 1.2	      Manual	     95,230 km	 1st Owner	 Petrol	        UP-16